<html>
<head>

    <title>##SignalViewV0.0.1##</title>

    <meta http-equiv="refresh" content="300" >


    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="/static/js/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Plotly.js -->
   <script src="/static/js/plotly-latest.min.js"></script>
    
</head>


<body>
    <script>
        let d = new Date();
        document.body.innerHTML = "Last refresh time: " + d
    </script>

    <h1 style="text-align: center;"><strong>SignalView V0.0.1</strong></h1>
    <img src="/static/logo.png">
    
    
<!--     <p>Debug info: 127.0.0.1:5555</p> -->
    
    
    
    <p></p>
    
    <form action="/">
        <input type="submit" value="Home" />
    </form>
    
    <input type="button" value="Refresh Page" onClick="window.location.reload()">


    <p></p>

    <div id="myDiv" style="width: 100%; height: 400px;"></div>
    <script>
        
        var trace1 = {
            x: {{labels[0]}},
            y: {{labels[1]}},
            mode: 'markers+text',
            name: 'Signal Markers',
//             text: {{labels[2]}},
            textposition: 'top',
            type: 'scatter'
        };
        
        
        function makeplot() {
            Plotly.d3.csv("/static/psd.csv", function(data){ processData(data) } );

        };
            
        function processData(allRows) {

            console.log(allRows);
            var x = [], y = [], standard_deviation = [];

            for (var i=0; i<allRows.length; i++) {
                row = allRows[i];
                x.push( row['Frequency'] );
                y.push( row['psd'] );
            }
            console.log( 'X',x, 'Y',y, 'SD',standard_deviation );
            makePlotly( x, y, standard_deviation );
        }

        function makePlotly( x, y, standard_deviation ){
            var plotDiv = document.getElementById("plot");
            var traces = [{
                x: x, 
                y: y,
                name: 'PSD'
            }, trace1];

            Plotly.newPlot('myDiv', traces, 
                {
                title: 'Live Spectrum View',
                "titlefont": {
                    "size": 36,
                },
                xaxis: {
                    title: 'Frequency/Hz',
                    titlefont: {
                    family: 'Courier New, monospace',
                    size: 18,
                    color: '#7f7f7f'
                    }
                },
                yaxis: {
                    title: 'Power Spectral Density',
                    titlefont: {
                    family: 'Courier New, monospace',
                    size: 18,
                    color: '#7f7f7f'
                    }
                }
                
                });
        };
        makeplot();
    
    
    </script>
    <p></p>


    <div class="container-fluid">
        <table class="table table-sm">
            <thead class="thead-dark">
                <tr>
                <th scope="col">#</th>
                <th scope="col">Timestamp</th>
                <th scope="col">Center Frequency</th>
                <th scope="col">Predict 1</th>
                <th scope="col">Predict 2</th>
                <th scope="col">RF ID</th>
                <th scope="col">View</th>
                </tr>
            </thead>
            
            {% for row in sig_data %}
                <tr>
                <th scope="row">{{row[4]}}</th>
                <td>{{row[2]}}</td>
                <td>{{row[7]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[5]}}</td>
                <td>{{row[3]}}</td>
                <td>
                    <a href="/inspect?id={{row[4]}}">View</a>
                </td>
                </tr>
            {% endfor %}
            <tbody>
            </tbody>
        </table>  
        </div>
</body>
</html>